<div class="container-fluid">
  <p>My tasks</p>
  <select (change)="onChange($event.target.value)">
    <option value="allTasks">All Tasks</option>
    <option value="completedTasks">Completed Tasks</option>
    <option value="incompleteTasks" selected="selected">Incomplete Tasks</option>
  </select>

  <ul>
   <li [class]='priorityTag(task)' *ngFor='let task of childTaskList | completeness:
     filterByCompleteness'> {{task.description}} <br>
     Priority Level: {{task.priority}}  <br>
     Check if complete:
     <input *ngIf="task.done === true" type="checkbox" checked (click)="toggleDone(task, false)"/>
     <input *ngIf="task.done === false" type="checkbox" (click)="toggleDone(task, true)"/>
     <br>
     <button class="btn btn-primary btn-xs"(click)='editButtonClicked(task)'>Edit Task</button>
   </li>
  </ul>

</div>
